[alias]
    st = status
    ck = checkout
    ci = commit
    ad = add
    br = branch
    di = diff
    pl = pull
    ps = push
    cl = clone
    cp = cherry-pick
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    grp = grep -p
    shw = show --stat -p -U12
[user]
    name = Phaedrus Leeds
    email = mwleeds@protonmail.com
[core]
    editor = vim
    excludesfile = /home/mwleeds/.gitignore_global
#    pager = "diff-so-fancy | less --tabs=4 -RFX"
[commit]
    verbose = true
[color]
    ui = true
[diff]
    context = 10
[push]
    default = simple
[branch]
    autosetuprebase = always
    autosetupmerge = always
[url "ssh://git@github.com/"]
    pushInsteadOf = https://github.com/
[url "ssh://git@gitlab.gnome.org/"]
    pushInsteadOf = https://gitlab.gnome.org/
[format]
    pretty = fuller
[log]
    decorate = auto
[grep]
    linenumber = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[submodule]
    recurse = true
