[alias]
	st = status
	ck = checkout
	ci = commit
	ad = add
	br = branch
	di = diff
	pl = pull
	ps = push
    cl = clone
    lg = log --graph --oneline
    grp = grep -p
    shw = show --stat -p -U12
[user]
	name = Matthew Leeds
	email = mwleeds@protonmail.com
[core]
	editor = vim
[push]
	default = simple
[branch]
	autosetuprebase = always
	autosetupmerge = always
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[format]
    pretty = fuller
[log]
    decorate = auto
[grep]
    linenumber = true
